@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #270150;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: var(--primary) !important;
  text-decoration: none !important;
}

.tabActive {
  background-color: var(--primary);
  color: #ffffff !important;
  border-radius: 12px;
  padding: 10px;
  
}
.tabHover:hover {
  background-color: var(--primary);
  color: #ffffff !important;
  border-radius: 12px;
  padding: 10px;
  
}
.row {
  --bs-gutter-x: 0rem !important; 
}

/* scroll-style */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}